  <div class="container-md mt-5 pb-1 bg-white">
    <div class="d-flex pt-5">
      <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"> %>
      <div class="d-flex w-75 flex-wrap">
        <%= image_tag @work.images[0], class: "w-50" %>
        <% if @work.images[1].nil? %>
        <% else %>
          <%= image_tag @work.images[1], class: "w-50" %>
        <% end %>

      </div>
      <%# </svg> %>
      <div class="card_wrapper">
        <div class="card-body ms-4 justify-content-center">
          <h5 class="fw-bold"><%= @work.title %></h5>
          <p class="card-text"><%= @work.caption %></p>
          <div>
            <div class="d-flex">
              <small class="text-muted mb-3">
                <%= @work.tags&.first&.tag_name %>
                <% if @work.tags[1].present? %>
                  <% @work.tags[1..-1].each do |tag| %>
                    <%= tag.tag_name%>
                  <% end %>
                <% end %>

              </small>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <small class="text-muted">2022/5/12</small>
              </div>
              <div class="ms-4">
                <small class="text-muted">使用ツール: 
                <%= @work.tool.name %>
                </small>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <div class="btn-group">
            <% if @work.liked?(current_user) %>
              <%= link_to "❤︎", work_like_path(@work.id), method: :delete %>
            <% else %>
              <%= link_to "♡", work_likes_path(@work.id), method: :post %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card_wrapper">
    <%= link_to user_path(@work.user_id) do%>
      <p class="text-center">この人の作品一覧を見る</p>
    <% end %>
    </div>
  </div>
