  <style>
      /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 4rem;
      height: auto;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      bottom: 3rem;
      z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel-item {
      position: relative;
      min-width: 36rem;
      min-height: 36rem;
      height: 100%;
      height: 100vh;
    }
    .carousel-item > img {
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      height: 100%;
    }


    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .col-lg-4 {
      margin-bottom: 1.5rem;
      text-align: center;
    }
    .marketing h2 {
      font-weight: 400;
    }
    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
      margin-right: .75rem;
      margin-left: .75rem;
    }
    /* rtl:end:ignore */


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      /* rtl:remove */
      letter-spacing: -.05rem;
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 40em) {
      /* Bump up size of carousel content */
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
      }

      .featurette-heading {
        font-size: 50px;
      }
    }

    @media (min-width: 62em) {
      .featurette-heading {
        margin-top: 7rem;
      }
    }

  </style>

  <div class="container-md mt-5 pb-1 bg-white">
    <div class="d-flex pt-5 ">
      
      <div id="myCarousel" class="carousel carousel-dark carousel-fade slide w-75" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag @work.images[0], class:"d-block"%>
          </div>
          <% if @work.images[1].nil? %>
          <% else %>
          <div class="carousel-item">
            <%= image_tag @work.images[1], class:"d-block" %>
          </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="card_wrapper">
        <div class="card-body ms-4 justify-content-center">
          <h5 class="fw-bold"><%= @work.title %></h5>
          <p class="card-text"><%= @work.caption %></p>
          <div>
            <div class="d-flex">
              <small class="text-muted mb-3">
                <%= @work.tags&.first&.tag_name %>
                <% if @work.tags[1].present? %>
                  <% @work.tags[1..-1].each do |tag| %>
                    <%= tag.tag_name%>
                  <% end %>
                <% end %>

              </small>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <small class="text-muted">2022/5/12</small>
              </div>
              <div class="ms-4">
                <small class="text-muted">使用ツール: 
                <%= @work.tool.name %>
                </small>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-left mt-5" id="heart_<% @work.id %>">
            <%= render partial: "likes/like" , locals:{ work: @work } %>
          </div>
        </div>
      </div>
    </div>
    <div class="card_wrapper">
    <%= link_to user_path(@work.user_id) do %>
      <p class="text-center">この人の作品一覧を見る</p>
    <% end %>
    </div>
  </div>
