  <div class="row row-cols-1 pe-5 mb-6" style="max-width: 540px;">
    <div class="card shadow-sm">
      <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/> %>
      <%= link_to work_path(work.id) do %>
        <div class="work_views">
          <div class="before_img">
          <%= image_tag work.images[0], class:"img-thumbnail" %>
          </div>
          <div class="after_img">
          <%= image_tag work.images[1], class:"img-thumbnail" %>
          </div>
        </div>
      <% end %>
      <%# </svg> %>

      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
        <span class="fs-5"><%= work.title %></span>
        <span class="card-text"><%= work.user.name %></span>
        </div>
        <span class="card-text">
          カテゴリ：<%= work.category.name %>
        </span>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex mt-1 me-5">
            <small class="text-muted">
              <%= work.tags&.first&.tag_name %>
                <% if work.tags[1].present? %>
                  <% work.tags[1..-1].each do |tag| %>
                    <%= tag.tag_name%>
                  <% end %>
                <% end %>
            </small>
          </div>
          <div class="btn-group">
          <% if user_signed_in? %>
            <%= link_to "#" do %>
              <button type="button" class="btn btn-sm btn-outline-secondary">いいね</button>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

