<div class="work_wrapper">
  <div class="new_works_field">
    <%= form_with model: @work_form, url: url, method: method, id: 'new-work', local: true do |f| %>
      <div class="img_previews" id="img-previews">
        <div class="preview_img" id="preview-0">
          <%= image_tag asset_path('/assets/no_image.png'), id: 'no-img0', class: "img-thumbnail" %>
        </div>
        <div class="preview_img" id="preview-1">
          <%= image_tag asset_path('/assets/no_image.png'), id: 'no-img1', class: "img-thumbnail" %>
        </div>
      </div>
      <div class="desc_forms">
        <div class="mb-3" id="img-upload-0">
          <%= f.file_field :images, name: 'work_form[images][]', data: { index: 0 }, class: "form-control", id: "upload-0" %>
        </div>
        <div class="mb-3" id="img-upload-1">
          <%= f.file_field :images, name: 'work_form[images][]', data: { index: 1 }, class: "form-control", id: "upload-1" %>
        </div>
        <div class="mb-3">
          <%= f.text_field :title, placeholder: '【必須】タイトルを入力してください。', class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.text_area :caption, placeholder: 'キャプションを入力してください。', class: "form-control" %>
        </div>
        <div class="mb-4">
          <%= f.text_field :tag_name, placeholder: '複数のタグはカンマ(,)で区切って入力してください。例: #イラスト,#加工', class: "form-control" %>
        </div>
        <div class="mb-3">
          【必須】<%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"work-category"}) %>
        </div>
        <div class="mb-4">
          【必須】<%= f.collection_select(:tool_id, Tool.all, :id, :name, {}, { class:"select-box", id:"work-tools0"}) %>
        </div>
        <div class="d-flex">
          <div class="mb-3 me-2">
            <%= f.radio_button :status, :public, checked: true %>
            公開
          </div>
          <div class="mb-3">
            <%= f.radio_button :status, :private %>
            非公開（投稿者のみ閲覧可能）
          </div>
        </div>
        <div class="mt-5 mb-3 text-center">
          <%= f.submit '投稿する' %>
        </div>
      </div>
    <% end %>
  </div>
</div>