<div class="work_wrapper text-center">
  <div class="new_works_field form-signin align-items-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput" %>
        <%= f.label :email, "メールアドレス", for: "floatingInput" %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword" %>
        <%= f.label :password, "パスワード", for: "floatingPassword" %>
      </div>
      <%= f.submit "サインイン", class: "w-100 btn btn-secondary" %>
    <% end %>

  </div>
</div>