<div>
  <%= form_with model: @post, url: posts_path, method: :post, id: 'new-post', local: true do |f| %>
    <div class="img_previews" id="img-previews">
      <div class="preview_img" id="preview-0">
        <%= image_tag '/images/no_image.png', id: 'no-img' %>
      </div>
      <div id="post-img">
        <%= f.file_field :images, name: 'post[images][]', data: { index: 0 } %>
      </div>
      <div id="post-img">
        <%= f.file_field :images, name: 'post[images][]', data: { index: 1 } %>
      </div>
    </div>
    <%= f.text_field :title, placeholder: 'タイトルを入力してください。' %>
    <%= f.text_field :caption, placeholder: 'キャプションを入力してください。' %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>
    <%= f.submit '投稿する' %>
  <% end %>
</div>