<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Phollowings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
  <header class="navbar fixed-top d-flex flex-wrap py-3 ps-5 pe-5 bg-white justify-content-between align-items-center">
    <span class="fs-4">
      <%= link_to root_path do %>
        <%= image_tag asset_path('/assets/Logo.png'), height: "60" %>
      <% end %>
    </span>
    <% if current_page?(root_path)%>
      <div class="row g-5 justify-content-end">
        <div class="col-9 d-flex pe-6">
          <%= form_with(url: search_works_path, local: true, method: :get, class: "form-control border-0 p-0") do |form| %>
              <%= form.text_field :keyword, placeholder: "作品を検索する", class: "form-contorol col-6" %>
              <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box col-4 small", id:"work-category"}) %>
              <%= form.submit "検索"%>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to new_work_path do %>
          <button type="button" class="btn btn btn-secondary">投稿する</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </header>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
